body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* Add styles for header if needed */
}

.product-details-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-images {
    width: 50%;
}

.product-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-info {
    width: 45%;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: #e6572c;
    margin-bottom: 10px;
}

.product-options {
    margin-bottom: 10px;
}

.product-options label {
    display: block;
    margin-bottom: 5px;
}

.product-options select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.product-specs {
    margin-bottom: 20px;
}

.product-specs h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-specs ul {
    list-style-type: none;
    padding: 0;
}

.product-specs li {
    margin-bottom: 5px;
}

.add-to-cart-btn {
    background-color: #e6572c;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #c54523;
}
